body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #B6EAFA;
}

.container {
    display: flex;
    padding: 50px;
}

.leftMenu {
    flex: 1;
}

.search {
    padding: 10px;
    padding-left: 20px;
    font-size: 30px;
    color: #31C6D4;
    width: 300px;
    border: 4px solid #39B5E0;
    background-color: #FBFFDC;
}

h1 {
    font-size: 35px;
    color:#39B5E0;
    font-weight:bolder;
}

.categories {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 15px;
}

.category {
    cursor: pointer;
    font-size: 25px;
    color: #31C6D4;
    font-weight: lighter;
    padding: 5px;
    width: 150px;
    background-color: #E3F6FF;
}

.level {
    padding-left: 20px;
}

.levels {
    background-color: #FBFFDC;
}

.content {
    flex: 4;
}

.exercises {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.exercise {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

img {
    width: 500px;
    height: 400px;
    object-fit: contain;
}

.name {
    font-size: 25px;
    font-weight: 600;
}

.level {
    font-size: 20px;
}